.about-me-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about-me-main {
    display: flex;
    justify-content: space-around;
    gap: 8rem;
}
.about-me-pic {
  width: 80px;
  height: 80px;
}

.about-me-sections {
  display: flex;
  gap: 1rem;
  margin-top: 2.5rem;
  padding: 1.5rem;
}
.dark-mode .about-me-sections {
  border: 1px solid rgba(189, 189, 189, 0.349);
  box-shadow: 0 8px 32px 0 rgba(114, 113, 113, 0.544);
}

.light-mode .about-me-sections {
  border: 1px solid rgba(49, 46, 46, 0.339);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.about-me-icon {
    font-size: 2rem;
    margin-left: 1rem;
}
.about-me-texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-me-education,
.about-me-experience {
  margin-top: 3rem;
}

.wave {
  font-size: 2rem;
}

.skill-set-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}
.skill-set-header {
    margin-bottom: 3rem;
}
.skill-set-list{
    display: flex;
    gap: 2rem;
}
li {
  list-style: none;
}
.skill-set-sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.skill-set-picture {
  width: 7rem;
  height: 7rem;
  padding: 1rem;
  border-radius: 50%;
}

.dark-mode .skill-set-picture {
  border: 1px solid rgba(189, 189, 189, 0.349);
  box-shadow: 0 8px 32px 0 rgba(114, 113, 113, 0.544);
}

.light-mode .skill-set-picture {
  border: 1px solid rgba(49, 46, 46, 0.339);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
