.about-me-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}

.about-me-main {
    display: flex;
    justify-content: space-around;
    gap: 6rem;
}

.about-me-pic {
  width: 80px;
  height: 80px;
}

.about-me-sections {
  display: flex;
  gap: 1rem;
  margin-top: 2.5rem;
  padding: 1.5rem;
}
.dark-mode .about-me-sections {
  border: 1px solid rgba(189, 189, 189, 0.349);
  box-shadow: 0 5px 15px 0 rgba(202, 199, 199, 0.544);
}

.light-mode .about-me-sections {
  border: 1px solid rgba(49, 46, 46, 0.339);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.741);
}

.about-me-icon {
    font-size: 2rem;
    margin-left: 1rem;
}
.about-me-texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
