.dark-mode-button {
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  transition: background-color 0.3s, color 0.3s;
  backdrop-filter: blur(30px);
  border-radius: 30px;
  position: fixed;
  bottom: 30px;
  right: 30px; 
  cursor: pointer;
}

.dark-mode .dark-mode-button {
  background-color: #121212;
  border: 1px solid rgba(189, 189, 189, 0.349);
  box-shadow: 0 5px 15px 0 rgba(202, 199, 199, 0.544);
}

.light-mode .dark-mode-button {
  background-color: #ffffff;
  border: 1px solid rgba(49, 46, 46, 0.339);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.741);
}
