.projects-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 10px;
}
.projects-links {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.projects-link-style {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  text-decoration: none;
}
.dark-mode .projects-link-style {
  border: 1px solid rgba(189, 189, 189, 0.349);
  box-shadow: 0 5px 15px 0 rgba(202, 199, 199, 0.544);
  color: #ffffff;
}

.light-mode .projects-link-style {
  border: 1px solid rgba(49, 46, 46, 0.339);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.741);
  color: #000000;
}

/* Shared */
.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.project-description {
  margin-top: 2rem;
  width: 800px;
}

.back-to-project-button {
  margin-top: 3rem;
  padding: 0.5rem;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode .back-to-project-button {
  background-color: #121212;
  border: 1px solid rgba(189, 189, 189, 0.349);
  box-shadow: 0 4px 4px 0 rgba(114, 113, 113, 0.544);
  color: #ffffff;
}

.light-mode .back-to-project-button {
  background-color: #ffffff;
  border: 1px solid rgba(49, 46, 46, 0.339);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.37);
  color: #000000;
}