.navbar-container {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.links {
  display: flex;
  border-radius: 20px;
  overflow: hidden;
}
.dark-mode .links{
  border: 1px solid rgba(189, 189, 189, 0.349);
  box-shadow: 0 8px 32px 0 rgba(114, 113, 113, 0.544);
}

.light-mode .links {
  border: 1px solid rgba(49, 46, 46, 0.339);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.dark-mode .link-style {
  color: #ffffff;
}

.light-mode .link-style {
  color: #000000;
}

.link-style {
  text-decoration: none;
  font-size: 2rem;
  padding: 2rem;
}

.active-link {
  color: rgb(6, 129, 170); 
}

