.navbar-container {
  padding-top: 10px;
  padding-right: 15px; 
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


.links {
  display: flex;
  border-radius: 20px;
  font-weight: bolder;
  overflow: hidden;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.dark-mode .links {
  background-color: #121212;
  border: 1px solid rgba(189, 189, 189, 0.349);
  box-shadow: 0 5px 15px 0 rgba(202, 199, 199, 0.544);
  color: #ffffff;
}

.light-mode .links {
  background-color: #ffffff;
  border: 1px solid rgba(49, 46, 46, 0.339);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.741);
  color: #000000;
}

.dark-mode .link-style {
  color: #ffffff;
  transition: color 0.3s ease;
}

.light-mode .link-style {
  color: #000000;
  transition: color 0.3s ease;
}

.link-style {
  text-decoration: none;
  font-size: 2rem;
  padding: 2rem;
  display: inline-block;
  transition: color 0.3s ease;
  cursor: pointer;
}

.dark-mode .active-link {
  color: rgb(6, 129, 170);
}

.light-mode .active-link {
  color: rgb(6, 129, 170);
}

.link-style:hover {
  background-color: rgb(6, 129, 170);
  color: #000000;
}