@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  margin: 1rem;
  border-radius: 20px;
}

.dark-mode .sidebar-container {
  background-color: #121212;
  border: 1px solid rgba(189, 189, 189, 0.349);
  box-shadow: 0 5px 15px 0 rgba(202, 199, 199, 0.544);
  color: #ffffff;
}

.light-mode .sidebar-container {
  background-color: #ffffff;
  border: 1px solid rgba(49, 46, 46, 0.339);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.741);
  color: #000000;
}

.sidebar-header {
  padding-bottom: 2rem;
}
.dark-mode .sidebar-header {
  border-bottom: 0.1rem solid #ffffff;
}

.light-mode .sidebar-header {
  border-bottom: 0.1rem solid #000000;
}

.profile-pic {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}
.dark-mode .profile-pic {
  border: 1px solid rgba(189, 189, 189, 0.349);
  box-shadow: 0 5px 15px 0 rgba(202, 199, 199, 0.544);
}

.light-mode .profile-pic {
  border: 1px solid rgba(49, 46, 46, 0.339);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.741);
}

.name {
  margin-top: 1rem;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 1rem;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.icon-link:has(.linkedin) {
  --color: #0077b5;
}
.icon-link:has(.github) {
  --color: #333;
}

.icon-link > .icon {
  color: #ffffff;
  font-size: 1.5rem;
}

.personal-information {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.personal-information-icon {
  padding: 1rem;
  border-radius: 25%;
  width: 20px;
  height: 20px;
}
.dark-mode .personal-information-icon {
  border: 0.1rem solid rgba(189, 189, 189, 0.349);
}

.light-mode .personal-information-icon {
  border: 0.1rem solid rgba(49, 46, 46, 0.339);
}

.personal-information-sections {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}
.personal-information-texts {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  bottom: 0;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.button-sidebar {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s ease;
  cursor: pointer;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.25rem;
}

.dark-mode .button-sidebar {
  background-color: #121212;
  border: 1px solid rgba(189, 189, 189, 0.349);
  box-shadow: 0 4px 4px 0 rgba(114, 113, 113, 0.544);
  color: #ffffff;
}

.light-mode .button-sidebar {
  background-color: #ffffff;
  border: 1px solid rgba(49, 46, 46, 0.339);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.37);
  color: #000000;
}
