@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body, html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  cursor: default;
  font-family: "Titillium Web", sans-serif;
}

body {
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative; 
  padding-top: 6rem;
}

.app-left {
  min-width: 300px; 
  flex-shrink: 0; 
  padding-top: 1rem;
  position: fixed;
  overflow: hidden;
  z-index: 10;
  transition: background-color 0.3s, color 0.3s;
}
.dark-mode .app-left {
  background-color: #121212;
  color: #ffffff;
}

.light-mode .app-left{
  background-color: #ffffff;
  color: #000000;
}
.app-right {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navbar {
  width: 100%; 
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  transition: background-color 0.3s, color 0.3s;
}
.dark-mode .navbar {
  background-color: #121212;
  color: #ffffff;
}

.light-mode .navbar{
  background-color: #ffffff;
  color: #000000;
}

.app-main {
  display: flex;
  flex-direction: column;
  gap: 100vh;
  margin-left: 400px;
  flex-shrink: 0; 
}

section {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
}

.app-footer {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

html {
  scroll-behavior: smooth;
}

.darkoverlay{
  background-color: red;

}
.pictest{
}