@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
  --background-image-light: url('./assets/background/background_light.png');
  --background-image-dark: url('./assets/background/background_dark.png');
}
body, html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  cursor: default;
  font-family: "Titillium Web", sans-serif;
}

body {
  background-image: var(--background-image-light);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: background-image 0.5s ease;
  transition: background-color 0.3s, color 0.3s;
  overflow-x: hidden;
}

body.dark-mode {
  background-image: var(--background-image-dark);
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative; 
  padding-top: 6rem;
}

.app-left {
  min-width: 300px; 
  flex-shrink: 0; 
  margin-left: 2rem;
  position: fixed;
  overflow: hidden;
  z-index: 10;
  transition: background-color 0.3s, color 0.3s;
}

.app-right {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navbar {
  width: 100%; 
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  transition: background-color 0.3s, color 0.3s;
  margin-right: 3rem;
}

.app-main {
  display: flex;
  flex-direction: column;
  gap: 100vh;
  margin-left: 400px;
  flex-shrink: 0; 
}

section {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
}

.app-footer {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

html {
  scroll-behavior: smooth;
}

.app-logo {
  width: 5rem;
  height: 5rem;
  position: fixed;
  top: 0;
  margin: 2rem;
}