body, html{
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;  
}

body {
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app-right {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.app-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 3rem;
  margin-right: 1rem;
}

.app-footer {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
